/Extraclases1/target/
/ChatCliente/target/
/ChatServidor/target/
/ChatCliente-master/build/
/ChatCliente-master/nbproject/private/
/ChatServidor-master/build/
/ChatServidor-master/nbproject/private/
